<% users.each do |user| %>
  <table class="table">
    <tbody>
      <tr>
        <td>
          <%= link_to user_path(user) do %>
            <%= image_tag user.get_profile_image, alt: "image", class: "small-profile-image img-fluid rounded-circle" %>
          <% end %>
        </td>
        <td style="vertical-align: middle;"><%= user.name %></td>
        <td style="vertical-align: middle;"><%= image_tag"ラーメンのアイコン。.jpg", class: "ramen-icon" %><%= user.posts.count %>杯</td>
      </tr>
    </tbody>
  </table>
<% end %>