<% post.post_comments.each do |post_comment| %>
  <div>
    <span>
      <%= link_to user_path(post_comment.user) do %>
        <%= image_tag post_comment.user.get_profile_image, alt: "image", class: "img-fluid rounded-circle", style: "width: 50px; height: 50px;" %>
      <% end %>
    </span>
    <span><%= post_comment.user.name %></span>
    <span><%= post_comment.created_at.strftime('<span style="font-size: 10px;">%Y/%m/%d</span>').html_safe %></span>
  </div>
  <div class="mb-2">
    <span><%= post_comment.comment %></span>
    <span>
      <% if post_comment.user == current_user %>
        <%= link_to "削除", post_post_comment_path(post_comment.post, post_comment), method: :delete, remote: true, "data-confirm" => "本当に削除しますか？",  class: "btn btn-sm btn-danger" %>
      <% end %>
    </span>
  </div>
<% end %>
  