<div class="container mt-4">
  <div class="row ">
    <div class="col-md-8 mt-3 mx-auto ">
      <h1 class="text-center">いいねランキング</h1>
      <div class="mt-4"><%= image_tag "243183860.jpg", width: "609" %></div>
      <div>
        <% @post_favorite_ranks.take(10).each.with_index(1) do |post, i| %>
          <table class="table">
            <tbody>
              <tr>
                <td>
                  <%= link_to post_path(post) do %>
                    第<%= i %>位: <%= image_tag post.get_image, class: "img-fluid", style:"width: 120px;" %>
                  <% end %>
                </td>
                <td class="align-middle" style="width: 40%;"><%= post.user.name %></td>
                <td class="align-middle">いいね数:<%= post.favorites.count %></td>
              </tr>
            </tbody>
          </table>
        <% end %>  
      </div>
      <div class="mt-4"><%= image_tag "243183860.jpg", width: "609" %></div>  
    </div>
  </div>
</div>