<% if user_signed_in? %>
  <div class="search_form">
    <%= form_with url: search_path, local: true, method: :get, class: "small-form" do |f| %>
      <%= f.text_field :word, class: "form-control form-control-sm" %>
      <%= f.select :range, options_for_select([['ユーザー','User'], ['店名','Store']]), class: "form-select form-select-sm" %>
      <%= f.select :search, options_for_select([["完全一致","perfect_match"], ["前方一致","forward_match"],  ["後方一致","backward_match"], ["部分一致","partial_match"]]), class: "form-select form-select-sm" %>
      <%= f.submit "検索", class: "btn btn-primary btn-sm" %>
    <% end %>
  </div>
<% end %>