<div class="container">
  <div class="row no-gutters">
    <% if @range == "User" %>
      <div class="col-md-4 mx-auto">
        <h2 class="mt-3 text-center">ユーザー検索</h2>
        <table class="table">
          <tbody>
          <% @users.each do |user| %>
            <tr>
              <td>
                <%= link_to user_path(user) do %>
                  <%= image_tag user.get_profile_image(50,50), class: "rounded-circle small-profile-image" %>
                <% end %>
              </td>
              <td class="text-align-cneter"><%= user.name %></td>
              <td><%= render 'relationships/btn', user: user %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    <% else %>
      <div class="col-md-7 mx-auto">
        <h2 class="mt-3 mb-4 text-center">投稿検索</h2>
        <% @posts.each do |post| %>
          <%= link_to post_path(post.id) do %>
            <%= image_tag post.get_image, style: "width: 150px;" %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>