<h1>投稿詳細</h1>

<%= link_to user_path(@post.user) do %>
  <p><%= image_tag @post.user.get_profile_image(100,100), class: "rounded-circle" %></p>
<% end %>
<p><%= image_tag @post.get_image(350,300) %></p>
<p><%= @post.store %></p>
<p><%= @post.address %></p>
<span>
  <%= @post.menu %>
  <span id="favorite_buttons_<%= @post.id %>">
    <%= render 'favorites/btn', post: @post %>
  </span>
  
    <i class="far fa-comment" style="color: #bc2424;"></i><span id="comment-count"><%= @post.post_comments.count %>件</span>
  
  <% if @post.user == current_user %>
    <%= link_to "削除", post_path(@post), method: :delete, class: "btn btn-success" %>
  <% end %>
</span>
<p><%= @post.impressions %></p>
<p><%= @post.created_at.strftime('%Y/%m/%d') %></p>


<% if @post.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>
    <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<div id="post-comments">
  <%= render 'post_comments/index', post: @post %>
</div>
<div id="post-comments/form">
  <%= render 'post_comments/form', post: @post, post_comment: @post_comment %>
</div>