<!DOCTYPE html>
<html>
  <head>
    <title>MinnanoRamen</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= stylesheet_link_tag 'application' %>


    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/e3532b565d.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= link_to "LOGOoooooooooo", root_path %>
      <% if user_signed_in? %>
        <li><%= link_to "マイページ", mypage_path %></li>
        <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
        <li><%= link_to "投稿", new_post_path %></li>
      <% else %>
        <li><%= link_to "新規登録", new_user_registration_path %></li>
        <li><%= link_to "ログイン", new_user_session_path %></li>
      <% end %>
      <%= link_to "ランキング", rank_path %>
      <%= render 'searches/search' %>
      
      <%= flash[:notice] %>
    </header>
    <%= yield %>
    <footer>
      <% if current_user.try(:admin?) %>
    <%= link_to '管理者ログイン', rails_admin_path %>
  <% end %>
    </footer>
  </body>
</html>
